body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card img{
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    width: 200px;
    margin: 4em auto;
}
.name{
    margin-left: 16px;
    padding-left: 5px;
    border-left: dotted 2px;
    font-size: 0.9em;
}